---
default_language_version:
  # Enforce use of py310 because pylint does not support py311 yet, causing
  # failures for those happening to have that as default python.
  python: python3.10
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0  # Use the ref you want to point at
    hooks:
    - id: trailing-whitespace
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-executables-have-shebangs
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        # empty args needed in order to match mypy cli behavior
        args: []
        entry: mypy src/
        pass_filenames: false
        additional_dependencies:
          - types-mock
          - types-setuptools
          - types-docutils
  - repo: https://github.com/PyCQA/pylint
    rev: v2.16.0b1
    hooks:
      - id: pylint
        additional_dependencies:
          - docutils
          - restructuredtext-lint
          - stevedore
