name: tox

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  pre:
    name: pre
    runs-on: ubuntu-22.04
    outputs:
      matrix: ${{ steps.generate_matrix.outputs.matrix }}
    steps:
      - name: Determine matrix
        id: generate_matrix
        uses: coactions/matrix@v4
        with:
          other_names: |
            lint
            packaging
            docs
  build:
    name: ${{ matrix.name }}
    needs: pre
    runs-on: ${{ matrix.os || 'ubuntu-22.04' }}

    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.pre.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # needed by setuptools-scm

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox>=4.0

      - name: ${{ matrix.name }}
        run: ${{ matrix.command }}

  check: # This job does nothing and is only used for the branch protection
    if: always()
    needs:
      - build
    runs-on: ubuntu-22.04
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
