name: tox

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        name: [
          "docs",
          "py36",
          "py37",
          "py38",
          "py39",
          "lint",
          "packaging",
        ]
        os: [
          "ubuntu-latest",
        ]

        include:

          - name: docs
            python: "3.6"
            os: ubuntu-latest
            tox_env: docs
          - name: py36
            python: "3.6"
            os: ubuntu-latest
            tox_env: py36
          - name: py37
            python: "3.7"
            os: ubuntu-latest
            tox_env: py37
          - name: py38
            python: "3.8"
            os: ubuntu-latest
            tox_env: py38
          - name: py39
            python: "3.9"
            os: ubuntu-latest
            tox_env: py39

          - name: "lint"
            python: "3.7"
            os: ubuntu-latest
            tox_env: "lint"
          - name: "packaging"
            python: "3.7"
            os: ubuntu-latest
            tox_env: "packaging"

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Test
        run: "tox -e ${{ matrix.tox_env }}"
